.fondo{
    background-color:black;
}

.header-text{
    text-align: right;
}


.bannerWeb{
    
    background-image: url("../imagenes/stars-min.jpg");
    background-size: cover;
    background-position: center ;
    height: 100vh;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.808);
    background-color:rgb(36, 28, 28);
    background-blend-mode: multiply;
}


.typeTitle{
    font-family:'Times New Roman', Times, serif;
}

i{
    color: white;
    font-size: 30px;
    cursor: pointer;
   
}

a {
    text-decoration: none;
}

.text{
    font-size: 20px;
}

input{
    padding:4px;
    text-align: center;
}

.icons{
    font-size: 25px; /* Cambia el tamaño */
    color:darkgrey;

}

.icons:hover{
    font-size: 25px; /* Cambia el tamaño */
    color:#fff;

}

a{
    text-decoration: none;
}









