@media (max-width: 576px){ 
    .img-1, .btnes1{
      margin-left: 32px;
    }

    .logo1{
        width:70%;
    }
    
    .img2{
        padding-top: 35px;
    }
    .img-nos{
        margin-bottom: 25px;
    }

    .ant-desp{
        height: 500px;
    }

}
