p {
    font-size: 15px;
}
.fondo{
    background-color:black;
}

.lineStyle{
    color:orangered;
}

.cursor{
    cursor: pointer;

}

.heavy{
    font-weight:bolder;
}

.redText{
    color:chocolate;
}

#btn-login{
    background-color: chocolate;
}

.header-text{
    text-align: right;
}

a{
    text-decoration: none;
}